# AWS Configuration
aws_region = "eu-west-1"

# Project Configuration
environment  = "dev"
project_name = "portfolio"

# Networking
availability_zones      = ["eu-west-1a", "eu-west-1b"]
vpc_cidr               = "10.0.0.0/16"
private_subnet_cidrs   = ["10.0.1.0/24", "10.0.2.0/24"]
public_subnet_cidrs    = ["10.0.101.0/24", "10.0.102.0/24"]

# RDS Configuration
db_instance_class    = "db.t3.micro"
db_allocated_storage = 20

# ECS Configuration
ecs_cluster_name           = "main-cluster"
ecs_service_desired_count  = 2
